{{#ifCond totalPages '>' '1'}}
<nav class="pagination" role="navigation">
    {{#if previousPage}}
        <a class="older-posts" href="/?page={{previousPage}}">Newer Posts</a>
    {{/if}}
    Page <span class="page-number">{{currentPage}}</span> of {{totalPages}}
    {{#if nextPage}}
        <a class="newer-posts" href="/?page={{nextPage}}">Older Posts</a>
    {{/if}}
</nav>
{{/ifCond}}