<article class="post post-preview" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="headline"><a href="{{url}}" title="Read {{title}}" itemprop="url">{{title}}</a></h1>
        {{> post-published-date}}
    </header>

    <div itemprop="description">
        {{{preview}}}
    </div>
</article>