<article class="post post-preview">
    <header class="post-header">
        <h1 class="post-title"><a href="{{url}}" title="Read {{title}}">{{title}}</a></h1>
        {{> post-published-date}}
    </header>

    {{{preview}}}
</article>