# next.js

## Development
.next/
GITHUB_ACCESS_TOKEN
/data/draft-posts

## Static export
out/

# NPM Dependencies
node_modules/

# macOS
.DS_Store

# Lighthouse CI

.lighthouseci/

# Build-generated
/public/rss.xml
/public/feed.json
/public/atom.xml
/public/robots.txt
/public/sitemap.xml
/public/sw.js*
/public/workbox*
