{{!< default}}

<h1>About Joseph Duffy</h1>
<img src="/images/joseph-duffy-headshot.jpg" alt="Photo of Joseph Duffy" width="250" height="375" class="headshot responsive-photo" />
<p>Hi. My name's Joseph Duffy, I'm a 21-year-old Software Engineer from the UK.</p>
<p>I love everything to do with accessibility, security, and the web. This website is largely a brain dump of my thoughts and feelings on various subjects, including iOS and the web. If you'd like to a less filtered version of myself, <a href="https://twitter.com/Joe_Duffy" title="Joseph Duffy's Twitter">check out my Twitter</a>.</p>

<h2>The Story So Far</h2>

<h3>Hello world</h3>
<p>From a very young age I always wanted to be an inventor. In a funny way, I feel that being a software engineer is very close to that original dream, and my different way of looking at things fuelled my passion for creating software.</p>
<p>My first adventure with the creation of websites was when my school installed a new firewall. It was a big deal; they blocked most flash games websites. I looked for a web host and went about learning HTML and CSS to create my own games website.</p>

<h3>pspwzrd.com</h3>
<p>When I look back at some of the horrible crimes against the web that pspwzrd.com committed, I feel a little ashamed. Even though the markup was horrible, the design heavily outdated (even for then), and its need questionable, pspwzrd.com has a sweet spot in my heart.</p>
<p>This was my very first taste of how easy it was to publish something on the Internet and let everyone know about it. My passion only grew from here.</p>

<h3>We're getting serious now</h3>
<p>By the time I was in my teens I knew that working with software was what I wanted to do as a career, but I wasn't 100% sure what area of software I would work in. Between 2007 and 2010 I played around with a couple of different project. I made a little game using GameMaker, wrote a couple of small scripts using AutoIt and tried a few different programming languages. Through this experience I learned that what really mattered for me was creating software that would actually help people. This was when I started thinking of some bigger projects I would make.</p>

<h3>Web Localiser</h3>
<p>Web Localiser was the first piece of software I released to the world. I still remember the feeling when it was added to Apple's Safari Extension Gallery. From there the project got tens of thousands of downloads and I received various emails from users thanking me and asking for new features. This experience is what made me realise that I want to create software that truly aids people</p>

<h3>To cut a long story short</h3>
<p>I am currently working on creating iOS apps while keeping an interest in the web.</p>
<p>There are many more projects that I've created, some of which never saw the light of day. To check out more projects I've created head over to the <a href="/projects" title="Projects created by Joseph Duffy">projects page</a>.