{{!< default}}

<h1>Projects</h1>

<p>I have worked on various projects, some of which are outlined below. The majority of my open-source projects are available either under <a href="https://github.com/JosephDuffy">my GitHub page</a> or <a href="https://github.com/YetiiNet">Yetii's GitHub page</a>.</p>

<h2>Yetii</h2>
<a href="https://yetii.net" title="Yetii's Website" class="project-link">https://yetii.net</a>
<p>I founded <a href="https://yetii.net">Yetii Ltd.</a> in April 2014 so that I could release my iOS apps under a single, professional, brand. I used the Yetii brand for larger projects that need the professional touch, namely iOS apps.</p>

<h2>Timetable Parser</h2>
<a href="https://timetable.josepduffy.co.uk" title="Timetable parsing tool for University of Huddersfield students" class="project-link">https://timetable.josepduffy.co.uk</a>
<p>Timetable parser is a tool I created to allow for my University timetable to be available through my calendar app on my computer and phone. It is written in Node.js and utilises SASS, Gulp, and Express. The source code is <a href="https://github.com/JosephDuffy/timetable-parser" title="Timetable parser GitHub Repository">available on Github</a></p>


<h2>Instagrator</h2>
<a href="https://chrome.google.com/webstore/detail/instagrator/llgcdbibmnepcocmlnbcbohllldpobeg" title="Instagrator on the Chrome Web Store" class="project-link">Chrome Web Store</a>
<p>Instagrator is a Google Chrome extension I create to automatically create links out of Instagram usernames and hashtags in Facebook posts. It has options for which service to use since (at the time of creation) those features were not available through the officialy Instagram website. These features are now incorporated in to Facebook, rendering the extension moot. The source code is <a href="https://github.com/JosephDuffy/Instagrator" title="Instagrator GitHub Repository">available on GitHub</a>

<h2>Web Localiser</h2>
<a href="https://josepduffy.co.uk/projects/web-localiser/safari/weblocaliser.safariextz" title="Web Localiser for Safari" class="project-link">Safari Extension</a>
<p>Web Localiser is the first piece of software I released to the public. It served a simple task: provide a quick and easy way to change the top-level domain of the current website. It was originally created to help circumvent a bug in Safari that would cause Google to always redirect to google.com, rather than the correct country's TLD, such as google.co.uk. Since its creation it has been downloaded over 60,000 times and was featured on Apple's Safari Extension Gallery. The source code is <a href="https://github.com/JosephDuffy/Web-Localiser-Safari" title="Web Localiser for Safari Github repository">available on GitHub</a></p>