@font-face {
  font-family: 'josephduffy';
  src: url('../fontd/josephduffy.eot?19177503');
  src: url('../fonts/josephduffy.eot?19177503#iefix') format('embedded-opentype'),
       url('../fonts/josephduffy.woff?19177503') format('woff'),
       url('../fonts/josephduffy.ttf?19177503') format('truetype'),
       url('../fonts/josephduffy.svg?19177503#josephduffy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "josephduffy-icon-font-classes";