// Core variables and mixins
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Includes only Normalize and our Bootstrap's Reboot reset
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/print";

// Core CSS
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";

// Utility classes
@import "bootstrap/scss/utilities";

$backgroundColor: #FCFCFC;
// Contrast ratio: 16.07:1 (WCAG AAA pass for normal and large text)
$textColor: #1F1F1F;
// Contrast ratio: 5.08:1 (WCAG AAA fail for normal text)
$linkColor: #046dc8;
// Contrast ratio: 3.73:1 (WCAG AA pass for large text)
$largeLinkColor: #2B83E5;
// Used for:
// - Horizontal rules between blog posts
// - The header and content divider
// - The content and footer divider
$dividerColor: #828282;
$twitterBlue: #4099FF;
$githubBlack: #171515;

@import "josephduffy-icon-font-external";

html, body {
    min-width: 320px;
    font-size: 16px;
}

html, body {
    background-color: $backgroundColor;
    color: $textColor;
}

/**
 * Link styles
 */

a:link, a:visited {
    color: $linkColor;
}

/**
 * Page header
 */

#page-header {
    padding-left: 0;
    border-bottom: 2px solid $dividerColor;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#page-heading {
    margin: 0.3em 0 0 0;
    line-height: 1;
    font-weight: bold;

    a {
        &:link, &:visited, &:hover, &:focus {
            color: #4C4C4C !important;
        }
    }
}

@include media-breakpoint-up(sm) {
    #page-heading {
        font-size: 2.6em;
    }
}

#page-header-subtitle {
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 0.6em;
}

#page-header-attribution {
    font-size: 0.9em;
}

/**
 * Page navigation
 */

#page-navigation-container {
    width: 100%;
    overflow: hidden;
}

#page-navigation {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    padding: 0;
    margin: 0 auto 0.6em auto;
    width: auto;
    white-space: nowrap;

    li {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;

        a {
            &:link, &:visited, &:hover, &:focus {
                color: $largeLinkColor !important;
            }
        }
    }

    li + li {
        padding-left: 20px;
    }
}

/**
 * Page Content
 */

#page-main {
    font-size: 1.05rem;
    padding: 15px 0;
}

h1, h2, h3, h4 {
    a {
        &:link, &:visited, &:hover, &:focus {
            color: $largeLinkColor !important;
        }
    }
}

/**
 * Page/Footer Diviver
 * This is heavily based on (read: stolen from) http://stackoverflow.com/a/22603610/657676
 */

#footer-divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -.9375rem;
    margin-right: -.9375rem;
}

#footer-divider > span {
    position: relative;
    display: inline-block;
}

#footer-divider > span:before,
#footer-divider > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $dividerColor;
}

#footer-divider > span:before {
    right: 100%;
    margin-right: 15px;
}

#footer-divider > span:after {
    left: 100%;
    margin-left: 15px;
}

/**
 * Sticky Footer
 */

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

 #page-main {
    flex: 1;
 }

/**
 * Post styles
 */

.post {
    .post-header {
        margin-bottom: 12px;
    }

    .post-title {
        margin: 0;
    }

    .post-date {
        color: #6F6F6E;
        font-style: italic;
    }

    .post-content {
        img {
            max-width: 100%;
        }
    }
}

.post-preview {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.17em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.83em;
    }

    h5 {
        font-size: 0.67em;
    }
}

.read-more-link {
    font-style: italic;
    font-size: 0.9em;
}

.post-permalink {
    span {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

#page-footer {
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
}

#footer-social-media {
    ul {
        padding: 0;

        li {
            list-style: none;
            display: inline-block;

            a:before {
                padding-right: 1.1em;
            }
        }

        li + li:before {
            content: " | ";
        }
    }
}

#footer-twitter-link {
    color: $twitterBlue;
    svg {
        fill: $twitterBlue;
    }
}

#footer-github-link {
    color: $githubBlack;
    svg {
        fill: $githubBlack;
    }
}

.footer-extra {
    font-size: 0.8em;
}

/**
 * About Page
 */

.headshot {
     margin: 0 auto;
     display: block;
 }

@include media-breakpoint-up(sm) {
    .headshot {
        float: left;
        margin: 0 1em;
        display: initial;
    }
}

/**
 * Project Page
 */

.project-link {
    margin-bottom: 0.6em;
    display: inline-block;
}

/**
 * Extra styles
 */

code {
    color: #f92672;
    background: #272822;
}

pre {
    background-color: inherit;
}

.text-right {
    text-align: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $dividerColor;
}