:root {
  color-scheme: dark light;
  --primary-label: white;
  --secondary-label: #ebebf599;
  --tertiary-label: #ebebf57f;
  --primary-background: black;
  --secondary-background: #1c1c1e;
  --tertiary-background: #2c2c2e;
  --primary-background: #1c1c1e;
  --secondary-background: #2c2c2e;
  --tertiary-background: #000000;
  --separator-color: #54545899;
  --tint-color: #ffcc00;
  --info-color: #006bdf;
  --hairline: 1px;
  --content-padding-x: 12px;
  --content-width: calc(
    100vw - var(--content-padding-x) - var(--content-padding-x)
  );
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-label: black;
    --secondary-label: #3c3c43;
    --tertiary-label: #3c3c4399;
    --primary-background: white;
    --secondary-background: #f2f2f7;
    --tertiary-background: white;
    --separator-color: #3c3c4349;
    --tint-color: #006bdf;
  }
}

@media (min-width: 480px) {
  :root {
    --content-padding-x: calc(5vw);
  }
}

@media (min-width: 1024px) {
  :root {
    --content-padding-x: calc(10vw);
  }
}

@media (min-resolution: 2dppx) {
  :root {
    --hairline: 0.5px;
  }
}

@media (min-resolution: 3dppx) {
  :root {
    --hairline: 0.33px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  min-height: -webkit-fill-available;
  background: var(--primary-background);
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--bs-body-color);
  background: var(--primary-background);
  color: var(--primary-label);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  font-size: 17px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

#__next,
body {
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
}

#__next {
  flex: 1;
}

main {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

a {
  color: var(--tint-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}

main a:hover {
  color: var(--tint-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

h1 {
  font-size: 2rem;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 16px;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

pre {
  overflow: scroll;
}

code {
  padding: 1px 0.4em;
  border-radius: 3px;
  background-color: #7878805b;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875em;
}

pre code {
  padding: unset;
  background-color: unset;
}

blockquote {
  border-left: 0.25em solid #7878805b;
  color: #ebebf591;
  padding: 0 1em;
  margin: 0;
}

details {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: light) {
  code {
    background-color: #78788033;
  }

  blockquote {
    border-left: 0.25em solid #78788033;
    color: #6a737d;
  }
}
