:root {
  color-scheme: dark light;
  --primary-label: white;
  --secondary-label: #ebebf599;
  --tertiary-label: #ebebf57f;
  --primary-background: black;
  --secondary-background: #1c1c1e;
  --tertiary-background: #2c2c2e;
  --primary-background: #1c1c1e;
  --secondary-background: #2c2c2e;
  --tertiary-background: #000000;
  --separator-color: #54545899;
  --tint-color: #ffcc00;
  --info-color: #006bdf;
  --hairline: 1px;
  --content-padding-x: 12px;
  --content-width: calc(
    100vw - var(--content-padding-x) - var(--content-padding-x)
  );
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-label: black;
    --secondary-label: #3c3c43;
    --tertiary-label: #3c3c4399;
    --primary-background: white;
    --secondary-background: #f2f2f7;
    --tertiary-background: white;
    --separator-color: #3c3c4349;
    --tint-color: #006bdf;
  }
}

@media (min-width: 480px) {
  :root {
    --content-padding-x: calc(5vw);
  }
}

@media (min-width: 1024px) {
  :root {
    --content-padding-x: calc(10vw);
  }
}

@media (min-resolution: 2dppx) {
  :root {
    --hairline: 0.5px;
  }
}

@media (min-resolution: 3dppx) {
  :root {
    --hairline: 0.33px;
  }
}

html {
  min-height: -webkit-fill-available;
}

body {
  background: var(--primary-background);
  color: var(--primary-label);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}

#__next {
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
}

main {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

a {
  color: var(--tint-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}

pre {
  overflow: scroll;
}

code {
  padding: 1px 0.4em;
  border-radius: 3px;
  background-color: #7878805b;
}

pre code {
  padding: unset;
  background-color: unset;
}

blockquote {
  border-left: 0.25em solid #7878805b;
  color: #ebebf591;
  padding: 0 1em;
  margin: 0;
}

details {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: light) {
  code {
    background-color: #78788033;
  }

  blockquote {
    border-left: 0.25em solid #78788033;
    color: #6a737d;
  }
}
